<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->

    <!--<title data-th-text="${player}"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Bootstrap-->
    <link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">

    <ul>
        <li><h3> <a href="basic.html">基本技</a></h3></li>
        <li><h3> <a href="inherent.html">固有技</a></h3></li>
        <li><h3> <a href="combo.html">连续技</a></h3></li>
        <li><h3> <a href="punishment.html">确反</a></h3></li>
        <li><h3> <a href="throws.html">投技</a></h3></li>
        <li><h3> <a href="mainSkill.html">技能解说</a></h3></li>
    </ul>
</div>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262001217'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/stat.php%3Fid%3D1262001217%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
